*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    color:white;
    overflow:hidden;
}

.hidden{
    display:none;
}

.screen{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

h1{
    font-size:3rem;
    margin-bottom:20px;
}

h2{
    margin-bottom:15px;
}

p{
    font-size:1.3rem;
    margin:15px 0;
}

.letter{
    background:white;
    color:black;
    padding:40px;
    border-radius:20px;
    box-shadow:0 0 30px rgba(255,255,255,.3);
    max-width:500px;
}

button{
    border:none;
    border-radius:50px;
    padding:15px 35px;
    font-size:1.2rem;
    cursor:pointer;
    margin:10px;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
}

#yes{
    background:#ff2d75;
    color:white;
    font-size:2rem;
    padding:20px 50px;
}

#no1,
#no2{
    background:white;
    color:black;
}
#message{
    font-size:1.5rem;
    color:#ffd6e8;
    margin-bottom:25px;
    min-height:40px;
}

#buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

#loveTitle{
    font-size:4rem;
    color:#ff4d88;
    animation:heartbeat 1s infinite;
}

#loveText{
    font-size:1.6rem;
    margin:20px 0;
}

#naya{
    width:260px;
    border-radius:20px;
    margin:20px 0;
    box-shadow:0 0 25px rgba(255,255,255,.35);
}

#bubble{
    background:white;
    color:black;
    padding:18px;
    border-radius:20px;
    max-width:420px;
    margin-top:20px;
}

.finalText{
    opacity:0;
    transform:translateY(25px);
    transition:1s;
    margin:18px;
}

.finalText.show{
    opacity:1;
    transform:translateY(0);
}

.heart{
    position:fixed;
    bottom:-40px;
    animation:fall linear forwards;
    pointer-events:none;
}

@keyframes fall{
    from{
        transform:translateY(0);
        opacity:1;
    }
    to{
        transform:translateY(-110vh);
        opacity:0;
    }
}

@keyframes heartbeat{
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.12);
    }
}